[submodule "third_party/eigen"]
	path = third_party/eigen
	url = https://github.com/eigenteam/eigen-git-mirror
[submodule "third_party/stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb
